:root {
    --white: white;
    --darkBlue: rgb(23, 23, 39);
    --blueGray: rgb(44, 44, 59);
    --lightBlue: #007bc2;
    --lightBlueHover: #00a2ff;
}

/* 
color bin: 
#F9F54B;
rgb(43, 255, 0)
#00a2ff
 */

@keyframes slideInRight {
    from {
        transform: translateX(90vw);
    }
    to {
        transform: translateX(0vw);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeInHide {
    from {
        opacity: 0;
    }
    to {
        opacity: 0%;
    }
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.fade-in-one {
    animation: fadeInHide 1s, fadeIn 3s 1s;
}

.fade-in-two {
    animation: fadeInHide 2s, fadeIn 3s 2s;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body  {
    height: 100%;
    /* background-color: var(--blueGray); */
    background-image: url('./images/pexels-photo-247791-ADJUSTED.jpg');
    background-size:cover;
    background-attachment: fixed;
}

#homePage {
    height: 100vh;
    scroll-snap-align: start;
}

#headDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 1%;
    background-color: rgb(23, 23, 39);
    text-align: center;
    font-family: monospace;
    border-bottom: 1px solid rgb(85, 85, 107);
}

#headDiv div{
    margin: auto;
}

#headDiv a{
    margin: auto;
    color: #00a2ff;
    font-size: 18px;
}

#headDiv a:hover{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 6px white;
}

#githubLogo:hover{
    border-radius: 100%;
    box-shadow: 1px 1px 15px silver;
}

#linkedinLogo:hover{
    border-radius: 10%;
    box-shadow: 1px 1px 10px silver;
}

h1 {
    color: var(--white);
    font-size: 70px;
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
    animation-name: slideInRight;
    animation-duration: 1s;
}

h3 {
    color: rgb(173, 173, 173);
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

p {
    color: rgb(173, 173, 173);
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    height: 70%;
}

#featureBox {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.projectBox {
    position: relative;
    width: 190px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.projectBox::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #16a1b9 0%, #074158 100% );
    z-index: -2;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projectBox::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg,  #16a1b9 0%, #074158
     100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.projectBox:hover::after {
    filter: blur(30px);
}

.projectBox:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

h4 {
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 10px black;
    margin: 3%;

}

#kuLogo{
    float: left;
    margin-right: 10px;
}

#scrollDown{
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
}

.bounce {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-20%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-10%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-5%); }
    100% { transform:translateY(0); }
}

#aboutMePage {
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--darkBlue);
    border-bottom: 1px solid rgb(85, 85, 107);
    border-top: 1px solid rgb(85, 85, 107);
}

header{
    display: flex;
    justify-content: space-between;
}

header h2 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 1px 1px 6px black;
    margin: 3% 0 5% 6%;
}

header nav{
    margin: 3% 3% 6% 0;
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    color: #00a2ff;
    font-size: 18px;
}

header nav a:hover{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 6px white;
}

#bioDiv {
    display: inline-flex;
    justify-content: space-around;
}

#bioPicBox img{
    height: 60vh;
    border-radius: 50%;
    border: 1px solid rgb(85, 85, 107);
    box-shadow:  20px 20px 44px #0f0f1a,
    -20px -20px 44px #1f1f34;
}

#bioBox {
    height: 60%;
    width: 50%;
    background-color: var(--darkBlue);
    padding: 2%;
    border: 1px solid rgb(85, 85, 107);
    border-radius: 56px;
    box-shadow:  20px 20px 44px #0f0f1a,
    -20px -20px 44px #1f1f34;
}

#bioBox p{
    color: white;
}

#logoBox{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    text-align: center;
}

#logoBox p{
    color: rgb(173, 173, 173);
}

#mysql{
    margin-top: -16px;
}

#projectPage{
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--blueGray);
}

#projectBoxContainer {
    height: 70vh;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

 /* ------------------- flip card ------------------------- */
  
 .flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 1rem;
    box-shadow: 1px 1px 20px var(--lightBlueHover);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid rgb(85, 85, 107);
    border-radius: 1rem;
}

.flip-card-front {
    background-image: url(./images/nasaImageLibrary.png);
    background-size: cover;
}

.flip-card-back {
    background-color: var(--darkBlue);
    transform: rotateY(180deg);
}

#contactPage{
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--darkBlue);
}