:root {
    --white: white;
    --darkBlue: rgb(23, 23, 39);
    --blueGray: rgb(50, 50, 70);
    --lightBlue: #007bc2;
    --lightBlueHover: #00a2ff;
}

/* 
color bin: 
#F9F54B;
rgb(43, 255, 0)
#00a2ff
 */

@keyframes slideInRight {
    from {
        transform: translateX(90vw);
    }
    to {
        transform: translateX(0vw);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeInHide {
    from {
        opacity: 0;
    }
    to {
        opacity: 0%;
    }
}

.fade-in-one {
    animation: fadeInHide 1s, fadeIn 3s 1s;
}

.fade-in-two {
    animation: fadeInHide 2s, fadeIn 3s 2s;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body  {
    height: 100%;
    background-image: url('./images/pexels-photo-247791-ADJUSTED.jpg');
    background-size:cover;
    background-attachment: fixed;
}

#homePage {
    height: 100vh;
    scroll-snap-align: start;
}

#headDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 1%;
    background-color: rgb(23, 23, 39);
    text-align: center;
    font-family: monospace;
    border-bottom: 1px solid rgb(85, 85, 107);
}

#headDiv div{
    margin: auto;
}

#headDiv a{
    margin: auto;
    color: #00a2ff;
    font-size: 18px;
}

#headDiv a:hover{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 6px white;
}

#githubLogo:hover{
    border-radius: 100%;
    box-shadow: 1px 1px 15px silver;
}

#linkedinLogo:hover{
    border-radius: 10%;
    box-shadow: 1px 1px 10px silver;
}

h1 {
    color: var(--white);
    font-size: 70px;
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
    animation-name: slideInRight;
    animation-duration: 1s;
}

h3 {
    color: rgb(173, 173, 173);
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

p {
    color: rgb(173, 173, 173);
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

h4 {
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 10px black;
    margin: 3%;

}

#featuredSlideBox {
    width: 40%;
    height: 40%;
    text-align: center;
}

.carousel-inner {
    border: 2px solid rgb(85, 85, 107);
}

#kuLogo{
    float: left;
    margin-right: 10px;
}

#scrollDown{
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
}

.bounce {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-20%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-10%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-5%); }
    100% { transform:translateY(0); }
}

#aboutMePage {
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--darkBlue);
    border-bottom: 1px solid rgb(85, 85, 107);
    border-top: 1px solid rgb(85, 85, 107);
}

header{
    display: flex;
    justify-content: space-between;
}

header h2 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 1px 1px 6px black;
    margin: 3% 0 5% 6%;
}

header nav{
    margin: 3% 3% 6% 0;
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    color: #00a2ff;
    font-size: 18px;
}

header nav a:hover{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 6px white;
}

#bioDiv {
    display: inline-flex;
    justify-content: space-around;
}

#bioPicBox img{
    height: 60vh;
    border-radius: 50%;
    border: 1px solid rgb(85, 85, 107);
    box-shadow:  20px 20px 44px #0f0f1a,
    -20px -20px 44px #1f1f34;
}

#bioBox {
    height: 60%;
    width: 50%;
    background-color: var(--darkBlue);
    padding: 2%;
    border: 1px solid rgb(85, 85, 107);
    border-radius: 56px;
    box-shadow:  20px 20px 44px #0f0f1a,
    -20px -20px 44px #1f1f34;
}

#bioBox p{
    color: white;
}

#logoBox{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    text-align: center;
}

#logoBox p{
    color: rgb(173, 173, 173);
}

#mysql{
    margin-top: -16px;
}

#projectPage{
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--blueGray);
}


#contactPage{
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--darkBlue);
}