:root {
    --white: white;
    --gray:  rgb(19, 19, 19);
    --purple: rgb(62, 0, 162);
    --blue: rgb(242, 234, 11);
    --green: #00a2ff;
}

/* 
color bin: 
#F9F54B;
rgb(43, 255, 0)
#00a2ff
 */

@keyframes slideInRight {
    from {
        transform: translateX(90vw);
    }
    to {
        transform: translateX(0vw);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeInHide {
    from {
        opacity: 0;
    }
    to {
        opacity: 0%;
    }
}

.fade-in-one {
    animation: fadeInHide 1s, fadeIn 3s 1s;
}

.fade-in-two {
    animation: fadeInHide 2s, fadeIn 3s 2s;
}

html {
    height: 100%;
}

/* sky background URL:   https://jooinn.com/images/small-clouds-on-blue-sky.jpg */

body  {
    height: 100%;
    background-image: url('./images/pexels-photo-247791-ADJUSTED.jpg');
    background-size:cover;
    background-attachment: fixed;
        /* -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;               */
}
/* 
@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

} */

#headDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 1%;
    background-color: rgb(23, 23, 39);
    text-align: center;
    font-family: monospace;
    border-bottom: 1px solid rgb(85, 85, 107);
}

#headDiv div{
    margin: auto;
}

#githubLogo:hover{
    border-radius: 100%;
    box-shadow: 1px 1px 10px silver;
}

#linkedinLogo:hover{
    border-radius: 5%;
    box-shadow: 1px 1px 10px silver;
}

h1 {
    color: var(--white);
    font-size: 60px;
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
    animation-name: slideInRight;
    animation-duration: 1s;
}

h3 {
    color: rgb(173, 173, 173);
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

#buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttonBox a {
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    font-size: 24px;
    width: 10rem;
    padding: 8%;
    margin: 2rem;
    color: white;
    box-shadow: 1px 1px 5px black;
    background-color:#007bc2;
}

#buttonBox a:hover {
    background-color:#00a2ff;
}

h4 {
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 10px black;
    margin: 3%;

}

#featuredSlideBox {
    width: 40%;
    height: 40%;
    text-align: center;
}

.carousel-inner {
    border: 2px solid rgb(85, 85, 107);
}